<% layout("/layouts/bioilerplate") %>

<div class="container my-4">
  <!-- Welcome Section -->
  <header class="text-center mb-4">
    <h1 class="home-page-heading">Welcome to Wonderlust</h1>
    <p class="home-page-subheading">Discover amazing places for your next adventure.</p>
  </header>
</div>